<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516028101860-do022p7n6pits6pn9adarvn745c1cn10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516028101860-do022p7n6pits6pn9adarvn745c1cn10</string>
	<key>API_KEY</key>
	<string>AIzaSyBNymkJZH9hEXziHRAat1TVq5iTb_68khw</string>
	<key>GCM_SENDER_ID</key>
	<string>516028101860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reelx.app</string>
	<key>PROJECT_ID</key>
	<string>reelx-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>reelx-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516028101860:ios:f779f02a22a55fd9f6e8f1</string>
</dict>
</plist>